@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
@*<link href="Font/fonts.css" rel="stylesheet">*@


<style>
 
    #gameDiv {
        top: 50%;
        left: 50%;
        text-align: center;
        z-index: 2;
    }

    body {
        background-image: url('../../Pictures/Alphabet/children_by _tree.jpg');
        /*background-position: center;*/
        background-repeat: no-repeat;
        /*background-size: cover;*/
        background-position: center;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    .animate-in {
        /*-webkit-animation: fadeIn .8s ease-in;*/
        animation: fadeIn .4s ease-in;
    }

    .animate-out {
        -webkit-transition: opacity .5s;
        transition: opacity .11s;
        opacity: 0;
    }

    @@-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    .footerClass {
        position: absolute;
        bottom: 0;
        width: 100%
    }

    footer {
        font-weight: bold;
        position: absolute;
        bottom: 0;
        width: 100%
    }
    #title {
        font-size: 5vw;
        font-family: 'Miri';
    }
    #letterTable tr{
       height:70px;
    }
    #gameTable, #letterTable {
        margin-left: auto;
        margin-right: auto;
    }

        #gameTable td {
            padding: 40px;
        }

    .gameImg {
        width: 100px;
        height: 100px;
        cursor: pointer;
    }

        .gameImg:hover {
            box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
        }

    .letterImg {
        max-width: 50%;
        max-height: 50%;
        /*border: 1px solid #ddd;*/
        /*width:50%;*/
        cursor: pointer;
    }

        .letterImg:hover {
            box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
        }

    .hidescreen {
        display: none;
    }

    #buttonGo {
        background-color: green;
        color: white;
    }

    #buttonCancel {
        background-color: red;
        color: white;
        border: 2px solid black;
        padding: 5px;
        outline: none;
        border-radius:5px;
    }
    #buttonCancel:hover{
        color:grey;
        background-color:orangered;
    }
    #upperDiv {
        text-align: center;
        margin: auto;
    }
    .letter {
        max-width: 50%;
        max-height: 50%;
        /*border: 1px solid #ddd;*/
    }

        .letter:hover {
            box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
        }

    #ג {
        max-width: 40%;
        max-height: 40%;
    }
    #ו {
        max-width: 40%;
        max-height: 40%;
    }
    #י {
        max-width: 25%;
        max-height: 25%;
    }
    #ט {
        max-width: 40%;
        max-height: 40%;
    }
    #ס {
        max-width: 40%;
        max-height: 40%;
    }
    #נ {
        max-width: 40%;
        max-height: 40%;
    }
    #gameTextDiv {
        height: 60px;
    }

    #gameTextId {
        font-family: 'Gan';
    }
    .rainbow {
        background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
        text-align: center;
        background-size: 800% 800%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;       
        animation: rainbow 8s ease infinite;
    }

    @@keyframes rainbow {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 25%
        }

        100% {
            background-position: 0% 50%
        }
    }
    #buttonTest {
        color: white;
        background-color: blue;
        border: 2px solid black;
        padding: 5px;
        outline: none;
        border-radius: 5px;
    }
    #buttonTest:hover{
        color:gray;
        background-color:deepskyblue;
    }
    #leaveBtn {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        color: transparent;
        border-radius: 30px;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        border: 2px solid black;
        outline: none;
    }

        #leaveBtn:hover {          
            background-image: linear-gradient(to left, yellow, orange, red);
        }
</style>
<script>
    let letterForGame;// the letter char which will eventually be transported to the selected game
    let gameName;//the name of the selected game
    let gameContenNeededBolArray;
    let isBig = false;
    let textInterval;


    $(document).ready(function () {
        gameContenNeededBolArray = ["false", "true", "false", "false", "false", "false", "false", "false",
            "false", "false", "false", "false", "false", "false", "false", "true",
            "false", "false", "false", "false", "false", "false", "false"];
        $("#buttonGo").prop('disabled', true);
      


        //var originalBG = $("<body>").css("background-color");
        //let lightColor = "rgba(255,255,255,0.75)";
        //let gradientSize = 100;
        //    $('<body>').mousemove(function (e) {
        //        let x = e.pageX - this.offsetLeft;
        //        let y = e.pageY - this.offsetTop;
        //        let xy = x + " " + y;
        //        let bgWebKit = "-webkit-gradient(radial, " + xy + ", 0, " + xy + ", 100, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0.0))), " + originalBG;
        //        let bgMoz = "-moz-radial-gradient(" + x + "px " + y + "px 45deg, circle, " + lightColor + " 0%, " + originalBG + " " + gradientSize + "px)";

        //        $(this)
        //            .css({ background: bgWebKit })
        //            .css({ background: bgMoz });
        //    }).mouseleave(function () {
        //        $(this).css({
        //            background: originalBG
        //        });
        //    });


        textInterval = setInterval(textSize, 50);





        $(".letterImg").click(function () {
            $letterId = $(this).attr("id");

            letterForGame = $letterId;
            $("#letterTable").addClass("hidescreen");
            $("#gameDiv").removeClass("hidescreen");
            $("footer").css("position", "relative");


        });
        $(".gameImg").click(function () {
            $gameId = $(this).attr("id");
            gameName = $gameId;
            $("#buttonGo").prop('disabled', false);
            MarkGameImg($(this));
        });
    })
    function textSize() {
        if (!isBig) {
            $("#gameTextId").css("font-size", parseInt($("#gameTextId").css("font-size")) + 1 + "px");
            if (parseInt($("#gameTextId").css("font-size")) > 50)
                isBig = true;
        }
        else {
            $("#gameTextId").css("font-size", parseInt($("#gameTextId").css("font-size")) - 1 + "px");
            if (parseInt($("#gameTextId").css("font-size")) < 35)
                isBig = false;
        }
    }
    function GoToGame() {
        @*$.ajax({
            dataType: "json",
            url: "@Url.Action("GoToGame", "Child", new { letterForGame = "letter" , gameName = "name" })" ,
            contentType: "application/json; charset=utf-8",
            type: "post",
            error: function (err) {
                console.error(err);
            }
        });*@
        @*$.post("@Url.Action("GoToGame", "Child")" + "?letter=" + letterForGame + "&name=" + gameName, function (data) {

        });*@

        window.location.href = "@(Url.Action("GoToGame", "Child"))" + "?letter=" + letterForGame + "&name=" + gameName + "&needContent=" + gameContenNeededBolArray[parseInt(gameName)];
    }
    function GoToTest() {
                window.location.href = "@(Url.Action("GoToTest", "Child"))" + "?letter=" + letterForGame + "&name=" + gameName + "&needContent=" + gameContenNeededBolArray[parseInt(gameName)];
    }
    function RemoveGamePreviewDiv() {
        $(".gameImg").each(function () {
            let $currentGameImg = $(this);
            $currentGameImg.css('box-shadow', 'none');
        });
        //$(".gameImg").hover(function () {
        //    $(this).css('box-shadow', '0 0 2px 1px rgba(0,140,186,0.5)');
        //}, function () {
        //    $(this).css('box-shadow', 'none');
        //    });
        $("footer").css("position","absolute");
        $("#buttonGo").prop('disabled', true);
        $("#gameDiv").addClass("hidescreen");
        $("#letterTable").removeClass("hidescreen");
    }
    function MarkGameImg($gameImg) {
        $(".gameImg").each(function () {
            let $currentGameImg = $(this);
            $currentGameImg.css('box-shadow', 'none');
        });
        $gameImg.css('box-shadow', '0px 0px 2px 1px rgba(0,140,186,0.5)');
    }
    function goToIndexPage() {
         window.location.href = "@(Url.Action("ReturnToIndex", "Child"))";
    }
</script>
<body class="animate-in">

    <div id="upperDiv">
        <h1 class="rainbow" id="title">עמוד לימודי אותיות לילד  </h1>
        <input type="button" id="leaveBtn" value="חזור לעמוד משתמש ילד" onclick="goToIndexPage()" />

    </div>
    <table id="letterTable">
        <tr>
            <td>
                <img id="א" class="letterImg" src="~/Pictures/Alphabet/alef.jpeg" />
            </td>
            <td>
                <img id="ב" class="letterImg" src="~/Pictures/Alphabet/bet.jpeg" />
            </td>
            <td>
                <img id="ג" class="letterImg" src="~/Pictures/Alphabet/gimal.jpeg" />
            </td>
            <td>
                <img id="ד" class="letterImg" src="~/Pictures/Alphabet/daled.jpeg" />
            </td>
            <td>
                <img id="ה" class="letterImg" src="~/Pictures/Alphabet/haay.jpeg" />
            </td>
            <td>
                <img id="ו" class="letterImg" src="~/Pictures/Alphabet/vaav.jpeg" />
            </td>
        </tr>
        <tr>
            <td>
                <img id="ז" class="letterImg" src="~/Pictures/Alphabet/zaain.jpeg" />
            </td>
            <td>
                <img id="ח" class="letterImg" src="~/Pictures/Alphabet/chaat.jpeg" />
            </td>
            <td>
                <img id="ט" class="letterImg" src="~/Pictures/Alphabet/taat.jpeg" />
            </td>
            <td>
                <img id="י" class="letterImg" src="~/Pictures/Alphabet/yuud.jpeg" />
            </td>
            <td>
                <img id="כ" class="letterImg" src="~/Pictures/Alphabet/chaaf.jpeg" />
            </td>
            <td>
                <img id="ל" class="letterImg" src="~/Pictures/Alphabet/lamad.jpeg" />
            </td>
        </tr>
        <tr>
            <td>
                <img id="מ" class="letterImg" src="~/Pictures/Alphabet/maam.jpeg" />
            </td>
            <td>
                <img id="נ" class="letterImg" src="~/Pictures/Alphabet/nuun.jpeg" />
            </td>
            <td>
                <img id="ס" class="letterImg" src="~/Pictures/Alphabet/samach.jpeg" />
            </td>
            <td>
                <img id="ע" class="letterImg" src="~/Pictures/Alphabet/aaiin.jpeg" />
            </td>
            <td>
                <img id="פ" class="letterImg" src="~/Pictures/Alphabet/paay.jpeg" />
            </td>
            <td>
                <img id="צ" class="letterImg" src="~/Pictures/Alphabet/tchadik.jpeg" />
            </td>
        </tr>
        <tr>
            <td>
                <img id="ק" class="letterImg" src="~/Pictures/Alphabet/kuuf.jpeg" />
            </td>
            <td>
                <img id="ר" class="letterImg" src="~/Pictures/Alphabet/raaish.jpeg" />
            </td>
            <td>
                <img id="ש" class="letterImg" src="~/Pictures/Alphabet/shin.jpeg" />
            </td>
            <td>
                <img id="ת" class="letterImg" src="~/Pictures/Alphabet/taaf.jpeg" />
            </td>
            <td></td>
            <td></td>

        </tr>
    </table>
    <div class="hidescreen" id="gameDiv">
        <div id="gameTextDiv"><h1 class="rainbow" id="gameTextId">בחרו במשחק</h1></div>

        <table id="gameTable">
            <tr>
                <td>
                    <img id="8" class="gameImg" src="~/Pictures/Game_preview/game_8_preview.png" />
                </td>
                <td>
                    <img id="12" class="gameImg" src="~/Pictures/Game_preview/game_12_preview.png" />
                </td>
                <td>
                    <img id="13" class="gameImg" src="~/Pictures/Game_preview/game_13_preview.png" />
                </td>
                <td>
                    <img id="15" class="gameImg" src="~/Pictures/Game_preview/game_15_preview.png" />
                </td>
            </tr>
            <tr>
                <td>
                    <img id="16" class="gameImg" src="~/Pictures/Game_preview/game_16_preview.png" />
                </td>
                <td>
                    <img id="17" class="gameImg" src="~/Pictures/Game_preview/game_17_preview.png" />
                </td>
                <td>
                    <img id="19" class="gameImg" src="~/Pictures/Game_preview/game_19_preview.png" />
                </td>
                <td>
                    <img id="20" class="gameImg" src="~/Pictures/Game_preview/game_20_preview.png" />
                </td>
            </tr>
            <tr>
                <td>
                    <img id="21" class="gameImg" src="~/Pictures/Game_preview/game_21_preview.png" />
                </td>
                <td>
                    <img id="22" class="gameImg" src="~/Pictures/Game_preview/game_22_preview.png" />
                </td>
                <td>
                    <img id="5" class="gameImg" src="~/Pictures/Game_preview/game_5_preview.png" />
                </td>
                <td>
                    <img id="9" class="gameImg" src="~/Pictures/Game_preview/game_9_preview.png" />
                </td>
            </tr>
            <tr>
                <td>
                    <img id="2" class="gameImg" src="~/Pictures/Game_preview/game_2_preview.png" />
                </td>
                <td>
                    @*<img id="8" class="gameImg" src="~/Pictures/Game_preview/game_8_preview.jpeg" />*@
                </td>
            </tr>
        </table>
        <input id="buttonGo" type="button" style="display:none" value="מעבר ישיר למשחק" onclick="GoToGame()" />
        <input id="buttonCancel" type="button" value="ביטול" onclick="RemoveGamePreviewDiv()" />
        <input id="buttonTest" type="button" value="מעבר למבחן" onclick="GoToTest()" />
    </div>
    <footer style="text-align:center;font-size:x-small;display:block"><p>Ⓒ 2020 Learn-Hebrew</p></footer>

</body>