@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
    #gameDiv {
        top: 50%;
        left: 50%;
        text-align:center;
        z-index:2;
    }

    .gameImg {
        width: 10%;
        height: 10%;
    }

    .letterImg {
        max-width: 50%;
        max-height: 50%;
        border: 1px solid #ddd;
    }
        .letterImg:hover{
            cursor:pointer;
        }
    .hidescreen {
        display: none;
    }
    #buttonGo{
        background-color: blue;

    }
    #buttonCancel {
        background-color: red;
    }
    .letter {
        max-width: 50%;
        max-height: 50%;
        border: 1px solid #ddd;
     }

        .letter:hover {
            box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
        }
</style>
<script>
    let letterForGame;//the letter char which will eventually be transported to the selected game
    let gameName;//the name of the selected game
    let gameContenNeededBolArray;
    $(document).ready(function () {
        gameContenNeededBolArray = ["false", "true", "false", "false", "false", "false", "false", "false",
            "false", "false", "false", "false", "false", "false", "false", "false",
            "false", "false", "false", "false", "false", "false", "false"];
        $("#buttonGo").prop('disabled', true);
        $(".letterImg").click(function () {
            $letterId = $(this).attr("id");

            letterForGame = $letterId;
            $("#letterTable").addClass("hidescreen");
            $("#gameDiv").removeClass("hidescreen");
 
        });
        $(".gameImg").click(function () {
            $gameId = $(this).attr("id");
            gameName = $gameId;
            $("#buttonGo").prop('disabled', false);
            MarkGameImg($(this));
        });
    })
    function GoToGame() {
        @*$.ajax({
            dataType: "json",
            url: "@Url.Action("GoToGame", "Child", new { letterForGame = "letter" , gameName = "name" })" ,
            contentType: "application/json; charset=utf-8",
            type: "post",          
            error: function (err) {
                console.error(err);
            }
        });*@
        @*$.post("@Url.Action("GoToGame", "Child")" + "?letter=" + letterForGame + "&name=" + gameName, function (data) {

        });*@

        window.location.href = "@(Url.Action("GoToGame", "Child"))" + "?letter=" + letterForGame + "&name=" + gameName + "&needContent=" + gameContenNeededBolArray[parseInt(gameName)];
    }
    
    function RemoveGamePreviewDiv() {
        $(".gameImg").each(function () {
            let $currentGameImg = $(this);
            $currentGameImg.css('box-shadow', '0px 0px 2px 1px #ffff');
        });
        $("#buttonGo").prop('disabled', true);
        $("#gameDiv").addClass("hidescreen");
        $("#letterTable").removeClass("hidescreen");
    }
    function MarkGameImg($gameImg) {
        $(".gameImg").each(function () {
            let $currentGameImg = $(this);
            $currentGameImg.css('box-shadow', '0px 0px 2px 1px #ffff');
        });
        $gameImg.css('box-shadow', '0px 0px 2px 1px #888');
    }
    function goToIndexPage() {
         window.location.href = "@(Url.Action("ReturnToIndex", "Child"))";
    }
</script>
<body>
    <h1>עמוד לימודי אותיות לילד  </h1>
    <div>
        <input type="button" value="חזור לעמוד משתמש ילד" onclick="goToIndexPage()" />
        <p>מלל כלשהו</p>
    </div>
    <table id="letterTable">
        <tr>
            <td>
                <a href="@(Url.Action("GoToGame_6", "Child"))">
                    <img id="ו" class="letter" src="~/Pictures/Alphabet/vaav.jpeg" />
                </a>
            </td>
            <td>
                <a href="@(Url.Action("GoToGame_5", "Child"))">
                    <img id="ה" class="letter" src="~/Pictures/Alphabet/haay.jpeg" />
                </a>
            </td>
            <td>
                <img id="ד" class="letterImg" src="~/Pictures/Alphabet/daled.jpeg" />
            </td>
            <td>
                <img id="ג" class="letterImg" src="~/Pictures/Alphabet/gimal.jpeg" />
            </td>
            <td>
                <img id="ב" class="letterImg" src="~/Pictures/Alphabet/bet.png" />
            </td>
            <td>
                <img id="א"  class="letterImg" src="~/Pictures/Alphabet/alef.png" />
            </td>
        </tr>
        <tr>
            <td>
                <a href="@(Url.Action("GoToGame_12", "Child"))">
                    <img id="ל" class="letter" src="~/Pictures/Alphabet/lamad.jpeg" />
                </a>
            </td>
            <td>
                <img id="כ" class="letter" src="~/Pictures/Alphabet/chaaf.jpeg" />
            </td>
            <td>
                <img id="י" class="letter" src="~/Pictures/Alphabet/yuud.jpeg" />
            </td>
            <td>
                <a href="@(Url.Action("GoToGame_9", "Child"))">
                    <img id="ט" class="letter" src="~/Pictures/Alphabet/taat.jpeg" />
                </a>
            </td>
            <td>
                <a href="@(Url.Action("GoToGame_8", "Child"))">
                    <img id="ח" class="letter" src="~/Pictures/Alphabet/chaat.jpeg" />
                </a>
            </td>
            <td>
                <img id="ז" class="letter" src="~/Pictures/Alphabet/zaain.jpeg" />
            </td>
        </tr>
        <tr>
            <td>
                <img id="צ" class="letter" src="~/Pictures/Alphabet/tchadik.jpeg" />
            </td>
            <td>
                <a href="@(Url.Action("GoToGame_17", "Child"))">
                    <img id="פ" class="letter" src="~/Pictures/Alphabet/paay.jpeg" />
                </a>
            </td>
            <td>
                <a href="@(Url.Action("GoToGame_16", "Child"))">
                    <img id="ע" class="letter" src="~/Pictures/Alphabet/aaiin.jpeg" />
                </a>
            </td>
            <td>
                <a href="@(Url.Action("GoToGame_7_Hangman", "Child"))">
                    <img id="ס" class="letter" src="~/Pictures/Alphabet/samach.jpeg" />
                </a>
            </td>
            <td>
                <img id="נ" class="letter" src="~/Pictures/Alphabet/nuun.jpeg" />
            </td>
            <td>
                <a href="@(Url.Action("GoToGame_13", "Child"))">
                    <img id="מ" class="letter" src="~/Pictures/Alphabet/maam.jpeg" />
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="@(Url.Action("GoToGame_22", "Child"))">
                    <img id="ת" class="letter" src="~/Pictures/Alphabet/taaf.jpeg" />
                </a>
            </td>
            <td>
                <a href="@(Url.Action("GoToGame_21", "Child"))">
                    <img id="ש" class="letter" src="~/Pictures/Alphabet/shin.jpeg" />
                </a>
            </td>
            <td>
                <a href="@(Url.Action("GoToGame_20", "Child"))">
                    <img id="ר" class="letter" src="~/Pictures/Alphabet/raaish.jpeg" />
                </a>
            </td>
            <td>
                <a href="@(Url.Action("GoToGame_19", "Child"))">
                    <img id="ק" class="letter" src="~/Pictures/Alphabet/kuuf.jpeg" />
                </a>
            </td>

        </tr>
    </table>
    <div class="hidescreen" id="gameDiv">
        <h1>בחרו במשחק </h1>
        <table>
            <tr>
                <td>
                    <img id="1" class="gameImg" src="~/Pictures/Game_preview/game_1_preview.png" />
                </td>
                <td>
                    <img id="12" class="gameImg" src="~/Pictures/Game_preview/game_12_preview.png" />
                </td>
                <td>
                    <img id="13" class="gameImg" src="~/Pictures/Game_preview/game_13_preview.png" />
                </td>
                <td>
                    <img id="15" class="gameImg" src="~/Pictures/Game_preview/game_15_preview.png" />
                </td>
            </tr>
            <tr>
                <td>
                    <img id="16" class="gameImg" src="~/Pictures/Game_preview/game_16_preview.png" />
                </td>
                <td>
                    <img id="17" class="gameImg" src="~/Pictures/Game_preview/game_17_preview.png" />
                </td>
                <td>
                    <img id="19" class="gameImg" src="~/Pictures/Game_preview/game_19_preview.png" />
                </td>
                <td>
                    <img id="20" class="gameImg" src="~/Pictures/Game_preview/game_20_preview.png" />
                </td>
            </tr>
            <tr>
                <td>
                    <img id="21" class="gameImg" src="~/Pictures/Game_preview/game_21_preview.png" />
                </td>
                <td>
                    <img id="22" class="gameImg" src="~/Pictures/Game_preview/game_22_preview.png" />
                </td>
                <td>
                    <img id="5" class="gameImg" src="~/Pictures/Game_preview/game_5_preview.png" />
                </td>
                <td>
                    <img id="9" class="gameImg" src="~/Pictures/Game_preview/game_9_preview.png" />
                </td>
            </tr>
        </table>
        <input id="buttonGo" type="button" value="מעבר" onclick="GoToGame()" />
        <input id="buttonCancel" type="button" value="ביטול" onclick="RemoveGamePreviewDiv()" />
    </div>
</body>