@model LearnHebrew.Models.messageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function goToRegistration() {
          window.location.href = "@(Url.Action("RegistrationPage", "Child"))";
    }
    @*function goToUserPage() {

        var name = $("#childName").val();
        var password = $("#childPassword").val();
        $.post("@Url.Action("ChildQuery", "Child")" + "?NameQuery=" + name + "&PasswordQuery=" + password, function (data) {
            @*if (data)
            {
                sessionStorage.setItem("childName", data.Name);
                window.location.href = "@(Url.Action("UserPage", "Child"))";
            }*@
        //});





    function goToUserPageGuest() {
        //sessionStorage.setItem("childName", "אורח");
        window.location.href = "@(Url.Action("LoadChildGuest", "Child"))";

    }
</script>
<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%
    }
</style>


<h1>עמוד כניסה של ילד</h1>

<table>
    <tr><td colspan="2"><p>הכנסת פרטי ילד רשום</p></td></tr>
    @using (Html.BeginForm("IndexPage", "Child", FormMethod.Post))
    {


        <tr>
            <td><input name="childName" maxlength="15" id="childName" /></td>
            <td><p>כינוי</p></td>
        </tr>
        <tr>
            <td><input name="childPassword" type="password" id="childPassword" /></td>
            <td><p>ססמה</p></td>
        </tr>
        @*<tr><td><input type="button" value="כניסה רשומה" onclick="goToUserPage()" /></td></tr>*@
        <tr><td><button type="submit">כניסה רשומה</button></td></tr>
        <tr><td colspan="2"><p style="color:red">@Model.message</p></td></tr>
    }
    <tr>
        <td><input type="button" value="כניסה אורח" onclick="goToUserPageGuest()" /></td>
        <td><p>משתמש אורח</p></td>
    </tr>
    <tr>
        <td><input type="button" value="הרשמות" onclick="goToRegistration()" /></td>
        <td><p>משתמש חדש</p></td>
    </tr>
</table>

@*@using (Html.BeginForm("SaveChild", "Login", FormMethod.get))
    {
        <div>
            <label>בחר כינוי</label>
            <input name="ChildName" />
        </div>
        <div>
            <label>בחר צבע אהוב</label>
            <input name="ChildColor" />registration
        </div>

        <button type="submit">שמור</button>
    }*@