@model LearnHebrew.Models.AdultModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    @*function ShowChildProgress(ChildID) {
        $.post("@Url.Action("ShowChildProgress", "Adult")" + "?ChildID=" + ChildID,  function (data) {
            $("#ChildProgressReportContainer").html("");
            $("#ChildProgressReportContainer").html(data);
        });
    }*@

    function ShowChildProgress() {
        var ChildID = $("#adultChildsList").val();
        $.post("@Url.Action("ShowChildProgress", "Adult")" + "?ChildID=" + ChildID,  function (data) {
            $("#ChildProgressReportContainer").html("");
            $("#ChildProgressReportContainer").html(data);

            $("#chooseInfoView").show();
        });
    }

    function FillterPrograssResult() {
        var type = 1;
        if ($('.ChildProgressTableReport').is(':hidden')) {
            type = 2;
        }
        var letterSelected = $("#letterFillter").val();
        var childID = $("#ChildIDProgressChosen").val();
        var orderBy = $("#orderResultBy").val()
        var isAsc = $("#AscDesc").val() == 0 ? true : false;
        $.post("@Url.Action("ShowChildProgress", "Adult")" + "?ChildID=" + childID + "&letterFilltered=" + letterSelected + "&OrderBy=" + orderBy + "&IsAsc=" + isAsc, function (data) {
            $("#ChildProgressReportContainer").html("");
            $("#ChildProgressReportContainer").html(data);

            ChosePrgressInfoViewOption(type);
        });
    }

    function ChosePrgressInfoViewOption(type) {
        if (type == 1) {
            $(".ChildProgressTableReport").show();
            $(".ChildProgressGraphReport").hide();
        }
        else if (type == 2) {
            $(".ChildProgressTableReport").hide();
            $(".ChildProgressGraphReport").show();
        }
    }

</script>


<div id="AdultPageSize">

    @Html.Partial("~/Views/Adult/_ReturnToMainAdultPage.cshtml", Model)

    <h2>בחר ילד לצפייה בהתקדמות שלו</h2>

    @if (Model.AdultChilds != null && Model.AdultChilds.Count() > 0)
    {
        @*foreach (var child in Model.AdultChilds)
            {
                <div class="childsDiv">
                    <span onclick="ShowChildProgress(@child.ChildID)">@child.Name</span>
                </div>
            }*@
        <select id="adultChildsList" onchange="ShowChildProgress()">
            <option value="0">בחר ילד</option>
            @foreach (var child in Model.AdultChilds)
            {
                <option value="@child.ChildID">@child.Name</option>
            }
        </select>
        @*<input type="button" class="adultChildsListBtn" value="הצג תוצאות" onclick="ShowChildProgress()" />*@
    }
    else
    {
        <h6>לא קיימים ילדים, אנא הוסף תחילה ילדים לרשימה שלך מהמסך הראשי</h6>
    }


        <div class="AllProgressInfoContainer">
            <div id="chooseInfoView" style="display:none">

                <input type="button" value="הצג טבלה" onclick="ChosePrgressInfoViewOption(1)" />
                <input type="button" value="הצג גרף" onclick="ChosePrgressInfoViewOption(2)" />

            </div>

            <div id="ChildProgressReportContainer">

            </div>
        </div>
</div>


<style>
    #AdultPageSize {
        /*width: 100%;
        height: 100%;*/
        padding: 0px 40px;
    }

    .childsDiv {
        width: 100px;
        display: inline-block;
        border: 1px solid;
        text-align: center;
        cursor: pointer;
        margin: 10px;
        padding: 5px;
        font-size: 16px;
    }

    #adultChildsList {
        width: 200px;
        height: 30px;
        font-size: 16px;
        padding-right: 10px;
        margin-bottom: 20px;
        border-radius:5px;
    }
    .adultChildsListBtn {width:120px; height:30px;}

    #ChildProgressReportContainer {
        margin-top: 20px;
        position: relative;
        width: 90%;
        /*max-height:500px;
        overflow-y:scroll;*/
    }

    .AllProgressInfoContainer{
        padding-bottom: 40px;
    }

    input[type="button"], input[type="submit"], button {
        min-width: 100px;
        border-radius: 5px;
        border: 1px solid;
        height: 30px;
        background-color: #70bec1;
    }

    input, [type="text"] {
        min-width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid;
        background: #f3f3f3;
    }

        input[type="file"] {
            padding: 3px;
        }

        input[type="checkbox"] {
            height: 20px;
        }
</style>
