@model LearnHebrew.Models.AdultModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h3>hello - @(Model.Adult.Name)</h3>


<div>
    <a href="@Url.Action("UplaodContents","Adult")">העלאת תכנים חדשים</a>
</div>
<div>
    <a href="@Url.Action("ConfirmContents","Adult")">אישור תכנים חדשים</a>
</div>
<div>
    <a href="@Url.Action("ConnectToChild","Adult")">קישור לילד רשום</a>
</div>
<div>
    <a href="@Url.Action("ChildProgress","Adult")">צפייה בהתקדמות הילד</a>
</div>